# Environnement virtuel
botDofus/

# Fichiers Python
__pycache__/

# Fichiers de configuration sensibles
.env

# Logs et bases de données

db/*.txt
db/*.json
LadderArchives/*json
images/*.png
commandsArchives/*.txt

# Fichiers système
.DS_Store
Thumbs.db
desktop.ini

# Fichiers d'éditeur
.idea/
.vscode/
*.swp
*.swo
*~

# Fichiers spécifiques
batch_process.py
DiscordID.json
name_recognition.py
simple_name_recognition.py